body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6a0dad;
  /* Purple color */
  padding: 2rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: #fff;
  font-size: rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #dcdcdc;
}

.brand-text {
  color: #333;
  font-size: 24px;
  font-family: 'Montserrat (woff2)', sans-serif;
  transition: color 0.4s ease, font-size 0.2s ease;
  color: white;
}

.brand-text:hover {
  font-size: 28px;
}